body{
    background-color: #fcfcfc;
    color:darkslategray;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.chinesechar{
    font-family: 'Zhi Mang Xing', cursive;
    font-weight:400;
    font-size:xx-large;
    color:black;
}

.title{
    color:darkgoldenrod;
    font-weight:bold;
    font-size:larger;
}

.grid{
    display: grid;
    /*grid-template: 1fr 1fr 1fr 2fr 1fr 1fr 1fr 2fr 2fr 2fr 1fr/repeat(6 1fr);*/
    grid-template-columns:repeat(6,1fr);
    grid-template-rows:auto;
    gap: 15px;
    width: 80%;
    height:min-content;
    margin-left:10%;
    text-align:center;
}

header{
    grid-column-start: 1;
    grid-column-end: span 6;
    
}

.banner{
    grid-column-start: 1;
    grid-column-end: span 6;
    background-color: darkgoldenrod;
    color:#fcfcfc;
    font-size:large;
    font-weight: bold;
}

img{
    max-height: 18em;
    grid-column: 3/ span 2;
}

.about{
    grid-column-start: 1;
    grid-column-end: span 6;
    font-size: large;
    font-weight: 600;
}

.box{
    color:#fcfcfc;
    background-color: slategray;
}

.one{
    grid-column-start: 1;
    grid-column-end: span 2;
}

.two{
    grid-column-start: 3;
    grid-column-end: span 2;
}

.three{
    grid-column-start: 5;
    grid-column-end: span 2;
}

.four{
    grid-column-start: 1;
    grid-column-end: span 2;
}

.five
{
    grid-column-start: 3;
    grid-column-end: span 2;
}

.six
{
    grid-column-start: 5;
    grid-column-end: span 2;
}

.saying{
    grid-column-start: 1;
    grid-column-end: span 6;
    background-color:antiquewhite;
}

.a{
    grid-column-start: 1;
    grid-column-end: span 3;

}

.b{
    grid-column-start: 4;
    grid-column-end: span 3;

}

.c{
    grid-column-start: 1;
    grid-column-end: span 3;

}

.d{
    grid-column-start: 4;
    grid-column-end: span 3;

}

footer{
grid-column-start: 1;
grid-column-end: span 6;   
}